{% extends '_layout.twig' %}
{% block content %}
    {% for post in posts %}
        <!-- Blog Article Start-->
        <article>
            <!-- Blog item Start -->
            <div class="blog-item-wrap">
                <h2 class="blog-title">
                    <a href="/blog/posts/{{ post.id }}/{{ post.alias }}">{{ post.title }}</a>
                </h2>
                <!-- Entry Meta Start-->
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i>{{ post.user.display_name }}</span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i>{{ post.published_at | moment('LL') }}</span>
                    <span class="meta-part"><i
                                class="ico-tag"></i>{{ post.categories | category(categories) | safe }}</span>
                </div>
                <!-- Entry Meta End-->
                <!-- Feature inner Start -->
                {% if post.image %}
                    <div class="feature-inner">
                        <a href="/blog/posts/{{ post.id }}/{{ post.alias }}">
                            <img alt="{{ post.title }}" src="{{ post.image }}">
                        </a>
                    </div>
                {% endif %}
                <!-- Feature inner End -->
                <!-- Post Content Start -->
                <div class="post-content">
                    {{ post.intro_text | title(50, '...') | safe }}
                </div>
                <!-- Post Content End -->
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href=
                        "/blog/posts/{{ post.id }}/{{ post.alias }}">Read More <i class=
                                                                                  "ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div><!-- Blog item End -->
        </article><!-- Blog Article End-->
    {% endfor %}


    {{ totalPage | pagination(currentPage, baseURL) | safe }}
{% endblock %}